* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
  

:root {
  --amarelo-ipiranga: #FFD100;
  --azul-ipiranga: #01336E;
}

body {
  background-color: var(--azul-ipiranga);
  color: var(--amarelo-ipiranga);
}

.logo {
  width: 500px;
  height: 100px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  width: 600px;
  margin: 0 auto;
  margin-top: 2rem;
  border: 2px solid;
  border-radius: 5px;
}

.titulo-field {
  text-align: center;
  padding-bottom: 1rem;
}

fieldset {
  width: 100%;
  padding: 1rem;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  min-height: 450px; 
  position: relative; /* Added */
}

.pergunta {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .4rem 1rem;
}

.pergunta label {
  text-align: left;
  width: 100%;
}

.pergunta input,
.pergunta select {
  display: flex;
  width: 80%;
  margin: 0.5rem 0 0 1rem;
  padding: 0.4rem 0.4rem;
  border-radius: 5px;
}

.pergunta select {
  border: none;
}

.generos {
  display: flex;
  padding: 0.5rem;
}

.proximo-btn {
  padding: 2rem 0.5rem;
  padding-right: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute; /* Added */
  bottom: 0; /* Added */
}

.proximo-btn input {
  padding: 0.3rem 0.5rem;
}

.span-index {
  width: 100%;
  padding: 0.5rem 0;
  padding-left: 1rem;
}

#dados-socioeconomico {
  display: none;
}


@media (max-width: 420px) {
  h2 {
    margin-top: 1rem;
  }
  
  form {
    width: 340px;
    padding: 2px;
  }

  fieldset {
    padding: 2px;
    min-height: 520px;
  }

  .proximo-btn {
    padding: 2rem 0.5rem;
  }
}